In [4]:
import os
import pandas as pd
from neuralforecast.losses.numpy import mae, mse

In [3]:
folder_path = 'Exchange_rate'
exchange_result = []

for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        df = pd.read_csv(file_path, low_memory=False, index_col = 0)
        exchange_result.append(df)

In [4]:
Exchange_results = exchange_result[0]

In [5]:
Exchange_results['AutoNHITS'] = exchange_result[1]['AutoNHITS']
Exchange_results['Informer'] = exchange_result[2]['Informer']
Exchange_results['NBEATS'] = exchange_result[3]['NBEATS']
Exchange_results['NHITS'] = exchange_result[4]['NHITS']
Exchange_results

,unique_id,ds,cutoff,Autoformer,y,AutoNHITS,Informer,NBEATS,NHITS
0,0,2006-08-16,2006-08-15,3.009510,2.948076,2.885471,2.033105,2.941687,2.959419
1,0,2006-08-17,2006-08-15,3.021462,3.049320,2.904503,2.061145,2.858110,2.955485
2,0,2006-08-18,2006-08-15,3.015139,3.064168,2.895381,2.052428,2.917650,2.943812
3,0,2006-08-19,2006-08-15,3.021240,3.005783,2.884197,2.052044,2.921867,2.934147
4,0,2006-08-20,2006-08-15,3.047140,3.010031,2.875432,2.052975,2.937100,2.953291
...,...,...,...,...,...,...,...,...,...
1092091,OT,2010-10-06,2010-07-06,1.207807,0.902640,1.198333,1.361229,1.257237,1.196895
1092092,OT,2010-10-07,2010-07-06,1.178545,0.953585,1.195729,1.337580,1.242530,1.178843
1092093,OT,2010-10-08,2010-07-06,1.230473,0.956124,1.189133,1.321326,1.237280,1.189113
1092094,OT,2010-10-09,2010-07-06,1.280095,0.921979,1.209465,1.309312,1.262419,1.186439
1092095,OT,2010-10-10,2010-07-06,1.257944,0.921979,1.191073,1.276555,1.235246,1.196693

In [58]:
models = ['AutoNHITS', 'NBEATS','Autoformer','Informer']
metrics = ['MSE', 'MAE']

results = {}

for model in models:
    for metric in metrics:
        y_true = Exchange_results['y']
        y_pred = Exchange_results[model]
        
        if metric == 'MSE':
            result = mse(y_true, y_pred)
        elif metric == 'MAE':
            result = mae(y_true, y_pred)
        
        key = f'{model}_{metric}'
        results[key] = result

# åˆ›å»ºä¸€ä¸ªç»“æžœDataFrame
exchange_rate = pd.DataFrame.from_dict(results, orient='index', columns=['Exchange_rate']).T
exchange_rate

,AutoNHITS_MSE,AutoNHITS_MAE,NBEATS_MSE,NBEATS_MAE,Autoformer_MSE,Autoformer_MAE,Informer_MSE,Informer_MAE
Exchange_rate,0.093983,0.215752,0.088692,0.207726,0.143454,0.273658,0.394647,0.462471

In [9]:
folder_path = 'Ettm2'
ettm2_result = []

for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        df = pd.read_csv(file_path, low_memory=False, index_col = 0)
        ettm2_result.append(df)

In [12]:
ettm2_results = ettm2_result[2]
ettm2_results['Autoformer'] = ettm2_result[0]['Autoformer']
ettm2_results['Informer'] = ettm2_result[1]['Informer']
ettm2_results

,unique_id,ds,cutoff,NBEATS,y,Autoformer,Informer
0,HUFL,2017-10-24 00:00:00,2017-10-23 23:45:00,-0.875153,-0.977673,-1.056836,-1.534958
1,HUFL,2017-10-24 00:15:00,2017-10-23 23:45:00,-0.877855,-0.865620,-1.076802,-1.545861
2,HUFL,2017-10-24 00:30:00,2017-10-23 23:45:00,-0.914003,-0.961624,-1.104688,-1.515348
3,HUFL,2017-10-24 00:45:00,2017-10-23 23:45:00,-0.940475,-1.049700,-1.190880,-1.379458
4,HUFL,2017-10-24 01:00:00,2017-10-23 23:45:00,-0.975609,-0.953600,-1.243458,-1.358351
...,...,...,...,...,...,...,...
7677595,OT,2018-02-20 22:45:00,2018-02-19 23:45:00,-1.324481,-1.581325,-1.390980,-1.490577
7677596,OT,2018-02-20 23:00:00,2018-02-19 23:45:00,-1.265752,-1.581325,-1.351458,-1.476240
7677597,OT,2018-02-20 23:15:00,2018-02-19 23:45:00,-1.361027,-1.581325,-1.321922,-1.438281
7677598,OT,2018-02-20 23:30:00,2018-02-19 23:45:00,-1.289605,-1.562328,-1.383026,-1.458916
7677599,OT,2018-02-20 23:45:00,2018-02-19 23:45:00,-1.352772,-1.562328,-1.356151,-1.392230

In [14]:
models = ['NBEATS','Autoformer','Informer']
metrics = ['MSE', 'MAE']

results = {}

for model in models:
    for metric in metrics:
        y_true = ettm2_results['y']
        y_pred = ettm2_results[model]
        
        if metric == 'MSE':
            result = mse(y_true, y_pred)
        elif metric == 'MAE':
            result = mae(y_true, y_pred)
        
        key = f'{model}_{metric}'
        results[key] = result

# åˆ›å»ºä¸€ä¸ªç»“æžœDataFrame
Ettm2 = pd.DataFrame.from_dict(results, orient='index', columns=['Ettm2']).T
Ettm2.insert(0, 'NHITS_MSE', 0.18279484416711375)
Ettm2.insert(1, 'NHITS_MAE', 0.26096806135482414)
Ettm2

,AutoNHITS_MSE,AutoNHITS_MAE,NBEATS_MSE,NBEATS_MAE,Autoformer_MSE,Autoformer_MAE,Informer_MSE,Informer_MAE
Ettm2,0.182795,0.260968,0.184381,0.267878,0.255369,0.335314,0.418547,0.444891

In [ ]:
folder_path = 'Weather'
weather_result = []

for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        df = pd.read_csv(file_path, low_memory=False, index_col = 0)
        weather_result.append(df)

In [1]:
import pandas as pd
Autoformer_wea = pd.read_csv('Weather/Autoformer.csv')

In [24]:
data = {'Autoformer_MSE': mse(Autoformer_wea['y'],Autoformer_wea['Autoformer']),
        'Autoformer_MAE': mae(Autoformer_wea['y'],Autoformer_wea['Autoformer'])}

df = pd.DataFrame(data, index=['Weather'])
df.to_csv('Weather/df.csv')

In [1]:
import pandas as pd
NHITS_wea = pd.read_csv('Weather/NHITS.csv')

In [5]:
data = {'NHITS_MSE': mse(NHITS_wea['y'],NHITS_wea['NHITS']),
        'NHITS_MAE': mae(NHITS_wea['y'],NHITS_wea['NHITS'])}

df = pd.DataFrame(data, index=['Weather'])
df.to_csv('Weather/df_NHITS.csv')

In [6]:
import pandas as pd
NBEATS_wea = pd.read_csv('Weather/NBEATS.csv')

data = {'NBEATS_MSE': mse(NBEATS_wea['y'],NBEATS_wea['NBEATS']),
        'NBEATS_MAE': mae(NBEATS_wea['y'],NBEATS_wea['NBEATS'])}

df = pd.DataFrame(data, index=['Weather'])
df.to_csv('Weather/df_NBEATS.csv')

In [4]:
import pandas as pd
Weather_Autoformer = pd.read_csv('Weather/df.csv', index_col=0)
Weather_NHITS = pd.read_csv('Weather/df_NHITS.csv', index_col=0)
Weather_NBEATS = pd.read_csv('Weather/df_NBEATS.csv', index_col=0)

In [10]:
Weather = pd.concat([Weather_NHITS,Weather_NBEATS], axis=1)
Weather = pd.concat([Weather,Weather_Autoformer],axis=1)
Weather

,NHITS_MSE,NHITS_MAE,NBEATS_MSE,NBEATS_MAE,Autoformer_MSE,Autoformer_MAE
Weather,0.183565,0.21127,0.182191,0.214819,0.230596,0.289746